
body{
    font-family: "Party Business";!important;
   
}

section {
    padding-top : 20px; 
    padding-bottom : 20px;
    background-repeat:  repeat;
  }

section.light{
    background-image: url("./img/bg_light.png");
  }
section.dark{
    background-image: url("./img/bg_dark.png");
  }
  
  .titlesectiondark {
    color: white;
  }

 .titledecor > p {
    letter-spacing: -3px;
    vertical-align: top;
    font-size: 1.5rem; 
    font-family: "Tengwar";
    color: #e48e6b;
  }
  .titlesection{
    font-family: "aniron";
  }
  .titlesection > h2{
    font-size: 1.5rem; 
  }
  
  .navigftp {
    font-family: "aniron";
    background-color: #fe661d;
  }
  
  .navigftp > .navbar-brand {
    color: #feffed;
  }
  
  .navbar-nav > li > a {
    line-height: 1;
  }
  
  .navbar-nav > li > a {
    font-size: 1rem;
    color: #feffed;
  }
  
  .navbar-nav > li > a:hover {
    border-bottom: 2px solid currentColor;
    display: inline-block;
    line-height: 0.85;
  }
  
  footer {
    font-family: "aniron";
    color: white;
    background-color: #fe661d;
    font-size: 1rem;
  }
  
  ul {
    list-style: none !important;
  }
  
  .alignitems {
    display: flex;
    align-items: center;
  }
  
  .default-ring, .ring-yellow span, .ring-orange span {
    display: inline-block;
  }
  
  .ring-orange span {
    width: 50px;
    height: 50px;2
    background: transparent;
    margin-left: 0px;
    border: 4.1666666667px solid #ff9900;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1px 1px 1px #995c00);
    filter: drop-shadow(1px 1px 1px #995c00);
    margin: 0rem 10px;
  }
  
  .ring-yellow span {
    width: 200px;
    height: 200px;
    background: transparent;
    margin-left: 0px;
    border: 16.6666666667px solid #ffd633;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(4px 4px 4px #cca300);
    filter: drop-shadow(4px 4px 4px #cca300);
    margin: 0rem 40px;
  }
  
  .rings span:nth-child(1) {
    width: 50px;
    height: 50px;
    background: transparent;
    margin-left: -16.6666666667px;
    border: 4.1666666667px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1px 1px 1px black);
    filter: drop-shadow(1px 1px 1px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(2) {
    width: 60px;
    height: 60px;
    background: transparent;
    margin-left: -20px;
    border: 5px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1.2px 1.2px 1.2px black);
    filter: drop-shadow(1.2px 1.2px 1.2px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(3) {
    width: 70px;
    height: 70px;
    background: transparent;
    margin-left: -23.3333333333px;
    border: 5.8333333333px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1.4px 1.4px 1.4px black);
    filter: drop-shadow(1.4px 1.4px 1.4px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(4) {
    width: 80px;
    height: 80px;
    background: transparent;
    margin-left: -26.6666666667px;
    border: 6.6666666667px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1.6px 1.6px 1.6px black);
    filter: drop-shadow(1.6px 1.6px 1.6px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(5) {
    width: 90px;
    height: 90px;
    background: transparent;
    margin-left: -30px;
    border: 7.5px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(1.8px 1.8px 1.8px black);
    filter: drop-shadow(1.8px 1.8px 1.8px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(6) {
    width: 100px;
    height: 100px;
    background: transparent2
    margin-left: -33.3333332
    border: 8.3333333333px 2
    border-radius: 50%/50%;2
    -webkit-filter: drop-shadow(2px 2px 2px black);
    filter: drop-shadow(2px 2px 2px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(7) {
    width: 110px;
    height: 110px;
    background: transparent;
    margin-left: -36.6666666667px;
    border: 9.1666666667px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(2.2px 2.2px 2.2px black);
    filter: drop-shadow(2.2px 2.2px 2.2px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(8) {
    width: 120px;
    height: 120px;
    background: transparent;
    margin-left: -40px;
    border: 10px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(2.4px 2.4px 2.4px black);
    filter: drop-shadow(2.4px 2.4px 2.4px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(9) {
    width: 130px;
    height: 130px;
    background: transparent;
    margin-left: -43.3333333333px;
    border: 10.8333333333px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(2.6px 2.6px 2.6px black);
    filter: drop-shadow(2.6px 2.6px 2.6px black);
    margin-right: 0px;
  }
  
  .rings span:nth-child(10) {
    width: 140px;
    height: 140px;
    background: transparent;
    margin-left: -46.6666666667px;
    border: 11.6666666667px solid #000000;
    border-radius: 50%/50%;
    -webkit-filter: drop-shadow(2.8px 2.8px 2.8px black);
    filter: drop-shadow(2.8px 2.8px 2.8px black);
    margin-right: 0px;
  }